/*** Styling for Video Component ***/
.video {
    width: 30%;
    display: inline-block;
    margin: 0.3em 0.8em;
    padding: 0.5em;
    border-radius: 10px;
    background-color: #fdf8e1;
}

.video iframe {
    width: 95%;
}

.video p {
    font-size: 0.8em;
    margin: 0em;

    /*To hide too long text*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*** Styling for SearchForm Component ***/
.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** Styling for AutoComplete Component ***/
.autocomplete {
    position: relative;
    display: inline-block;
    margin-right: 0.2em;
}

.autocompleteList {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    color: #4a4e69;

    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;

    /*To avoid displaying too long list (Instead, list is scrollable)*/
    max-height: 200px;
    overflow-y: auto;
}

.suggestions {
    padding: 3px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*** Styling for AllVideosContainer ***/

.videosTable {
    width: 100%;
    color:#4a4e69;
    text-align: center;
    margin: 25px 0;
    font-size: 0.9em;
    position: relative;
    overflow-x: auto;
}

.videosTable th {
    height: 50px;
    font-weight: bold;
    position: sticky;
    top: -1px; /* Don't forget this, required for the stickiness */
}

.videosTable tr {
    height: 50px;
    overflow: hidden;
    background-color: white;
    color:#4a4e69;
}

/* Rank*/
.videosTable .rank {
    font-weight: bold;
}

/*Title*/
.videosTable .title {
    text-align: left;
}

.videosTable .description {
    text-align: left;
    padding: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*** ScrollToTop Component ***/
.scrollToTop {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
}

.scrollToTop button {
    color:white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
