/*** Styling for Main Container ***/
.mainContainer p {
    margin: 0.3em;
}

.linkToAllVideos {
    font-size: 1em;
    position: fixed;
    bottom: 2.5rem;
    right: 1.5rem;
    animation: fadeIn 500ms ease-in-out 0.7s both;
    cursor: pointer;
}

/*** Styling for SearchForm Component ***/
.searchForm {
    /*To make input element and button vertical*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** Styling for AutoComplete Component ***/
.autocomplete {
    position: relative;
    display: inline-block;
    margin-right: 0.2em;
}

.autocompleteList {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    color: #4a4e69;

    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;

    /*To avoid displaying too long list (Instead, list is scrollable)*/
    max-height: 200px;
    overflow-y: auto;
}

.suggestions {
    padding: 3px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*** Styling for AllVideosContainer ***/

.allVideos {
    width: 100%;
    display: block;
    position: relative;
}

.allVideos table { /*<Table />*/
    width: 100%;
    color:#4a4e69;
    text-align: center;
    margin: 25px 0;
    font-size: 0.9em;
    overflow-y: auto;
}

.allVideos tbody {
    color:#4a4e69;
    overflow-y: auto;
}

.allVideos thead th {
    background-color: rgba(255, 255, 255, 0.8);
    height: 50px;
    position: sticky;
    top: -1px; /* Don't forget this, required for the stickiness */
    vertical-align: middle;
}

.allVideos tr {
    height: 50px;
    background-color: white;
    color:#4a4e69;
}

.allVideos td {
    vertical-align: middle;
}
/* Rank*/
.allVideos .rank {
    font-size: 1.5em;
}

.allVideos .title {
    width: 45%;
    text-align: left;
    text-overflow: ellipsis;
}

/* .videosTable .description {
    text-align: left;
    padding: 1em;
    text-overflow: ellipsis;
} */

/*** Styling for Video Component ***/
.video {
    width: 30%;
    display: inline-block;
    margin: 0.3em 0.8em;
    padding: 0.5em;
    border-radius: 10px;
    background-color: #fdf8e1;
}

.video iframe {
    width: 95%;
}

.video p {
    font-size: 0.8em;
    margin: 0em;

    /*To hide too long text*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*** Styling for ScrollToTop Component ***/
.scrollToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
}

.scrollToTop button {
    color:white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
