@import url("bootstrap/dist/css/bootstrap.css");
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

html { width: 100%;}

body {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bde0fe;
  color: #4a4e69;
  text-align: center;
}

h1 {
  font-family: "Spartan", sans-serif;
}

a {
  color: #023e8a;
  transition: color 0.2s;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #fff0a2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
